body {
  background-color: #EFEFF4;
  font-size: 11px;
  font-family: -apple-system, system-ui, 'Helvetica', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-bottom: 50px;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
}

h2 {
  font-size: 1.4em;
  font-weight: 500;
}

h3 {
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #909090;
}

h4 {
  font-size: 1.1em;
  margin-bottom: 10%;
}

.blue {
  color: #007AFF;
}

#statusbar {
  width: 100%;
  position: fixed;
  top: 0;
}

.headerbar {
  width: 100%;
  background-color: #F9F9F9;
  margin: auto;
  text-align: center;
  padding: 20px;
  height: 80px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
}

.busstop-location {
  width: 100%;
}

.route-container {
  margin-top: 140px;
}

.divider {
  width: 80%;
  margin: 8% auto 4% auto;
}

.route {
  height: 105px;
  width: 80%;
  margin: 3% auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0px 1px 8px rgba(138, 138, 143, 0.3);
}

.bus-info {
  background-color: #f9f9f9;
  width: 45%;
  padding: 10px;
  border-radius: 5px;
}

.routenumber-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0;
}

.routenumber {
  padding: 0 5px;
  font-size: 1.8em;
}

.destination {
  color: #909090;
  text-align: center;
  padding-top: 3px;
}

.next-bus {
  width: 55%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-bus-info {
  padding: 0 5px;
}

.arrivaltime {
  margin-top: 10%;
}

.ontime {
  color: #25B422;
  display: inline;
}

.late {
  color: #E5123A;
  display: inline;
}

.early {
  color: #FF8139;
  display: inline;
}

.chevronright-icon {
  display: flex;
  align-items: center;
}


.reroute, .outofservice {
  color: #909090;
}


.show-more {
  width: 100%;
  text-align: center;
  margin: 10% auto;
}

.show-more a {
  color: #007AFF;
  text-decoration: none;
  font-size: 1.4em;
}
